.login{
    background: rgb(36,36,36);
    background: linear-gradient(45deg, rgba(36,36,36,1) 0%, rgba(52,52,52,1) 0%, rgba(37,37,43,1) 100%);
    color: white;
    width: 40%;
    height: auto;
    display: block;
    margin: 8% auto;
    border-radius: 10px;
}
.login section{
    display: flex;
    align-items: center;
    width: 100%;
    height:auto;
    justify-content: flex-end;
    border-bottom: orangered solid 1px;
}
.login section p{
    white-space: nowrap;
    left: 0;
    width: 80px;
}
.login section button{
    width: 40px;
    margin-left: 10px;
    padding: 5px 0;
}
.login form, .form{
    margin: 5% 18%;
}
.login label, .login input, .login button, .login span,
.form label, .form input, .form button{
    display: block;
    margin: 10px auto;
    width: 98%;
}
.login input,.form input{
    color: white;
    border: none;
    border-bottom: orangered solid 1px;
    background-color: rgba(36, 36, 36, 0);
    outline: none;
}
.login button, .form button{
    border-radius: 5px;
    border: grey solid 1px;
    background-color: grey;
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.signup a{
    color: orangered;
    display: block;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
    cursor: pointer;
}

.login button:active, .login button:hover,
.form button:active, .form button:hover{
     background-color: orangered;
}
.signup a:hover{
    text-decoration: underline;
}
.signup a:active, .signup a:visited{
    color: orangered;
}

.upload{
    display: flex;
    align-items: center;
    justify-items: flex-end;
    padding: 4% 0;
    width: 100%;
}
.uploadbtn{
    width: 50%;
    height: auto;
}
input[type="file"] {
    font-size: 11px;
    display: inline-block;
    width: 40%;
    height: 53%;
    opacity: 0;
    border: red solid 2px;
    position: absolute;
    left: 0;
    top: 25%;
    text-align: right;
    cursor: pointer;
}
.uploadbtn p{
    text-align: center;
    font-size: 14px;
}
.uploadbtn button{
    background-color: orangered;
    border: orangered solid 1px;
    width: 90%;
    font-size: 12px;
    padding: 6px 0;
    height: auto;
    cursor: pointer;
}

.uploadimg{
    width: 50%;
    height: auto;
}
.uploadimg img{
    float: right;
    width: 70px;
    height: auto;
}
#su-login{
    background-color: orangered;
    border: orangered solid 1px;
    font-size: 18px;
}
