.transactions {
  display: flex;
  flex-direction: column;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    45deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(52, 52, 52, 1) 0%,
    rgba(37, 37, 43, 1) 100%
  );
  color: white;
  align-self: center;
  height: auto;
  border-radius: 5px;
  margin-top: 30px;
  width: 700px;
  overflow-y: scroll;
}

.transactions::-webkit-scrollbar {
  width: 8px;
  height: auto;
  background-color: black;
}

.transactions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.transactions::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: linear-gradient(
    45deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(52, 52, 52, 1) 0%,
    rgba(37, 37, 43, 1) 100%
  );
  outline: 1px solid black;
}

.transactions header {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  padding: 2% 0;
  border-bottom: rgba(128, 128, 128, 0.39) solid 1px;
}
.transactions header h2 {
  display: inline-block;
  margin: 5px;
}
.transactions main {
  margin: 10px 40px;
  
}
.transaction {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  cursor: pointer;
  padding: 8px;
  font-size: 24px;
}
.transaction:hover {
  border-radius: 5px;
  background-color: grey;
  box-shadow: 3px 5px black;
}
.transaction h5 {
  margin: 0;
  width: 50%;
}
.transaction p {
  text-align: left;
  font-size: smaller;
  font-weight: 100;
  margin: 0;
  width: 30%;
}
.transaction div {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.added,
.minus {
  margin-top: 5%;
  font-size: smaller;
}
.added {
  color: lawngreen;
}
.minus {
  color: red;
}
.transaction div h5 {
  margin: 0;
}
