$heading1: 35px;
$heading2: 30px;
$heading3: 20px;
$text: 14px;

.account {
  background: linear-gradient(
    45deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(52, 52, 52, 1) 0%,
    rgba(37, 37, 43, 1) 100%
  );
  align-self: center;
  height: auto;
  padding: 0 1%;
  border-radius: 10px;
  margin-top: 30px;
  width: 60%;
  min-width: 300px;
  color: white;
  div {
    display: flex;
    height: 156px;
    // wallet page colouring
    .acc_wallet {
      border-left: tomato solid 5px;
    }
    // savings page colouring
    .savings {
      border-left: limegreen solid 5px;
    }
    // loans page colouring
    .loans {
      border-left: turquoise solid 5px;
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 2%;
      width: 50%;
      height: auto;
      border-radius: 2px;
    }
    //left section
    section:first-child {
      h3,
      span {
        margin: 0 4%;
        p {
          display: inline-block;
          margin: auto 0;
          font-size: $heading1;
        }
      }
    }
    //right section
    section:last-child {
      justify-content: space-around;
      align-items: flex-end;
      p,
      h3 {
        text-align: right;
        margin: 0;
        white-space: nowrap;
      }
      button {
        font-size: $heading3;
        width: 80%;
        height: 30%;
        border-radius: 5px;
        background-color: limegreen;
        color: white;
        cursor: pointer;
        font-size: $heading3;
      }
      button.OUT {
        background-color: grey;
      }
      button.LOAN,
      button.BACK {
        background-color: rgb(12, 185, 168);
      }
    }
  }

  form.toggle {
    display: flex;
    border-top: rgba(128, 128, 128, 0.563) solid 1px;
    width: 93%;
    align-self: center;
    color: white;
    padding: 10px 0;
    margin: 0;
    section {
      display: flex;
      width: 100%;
      padding: 5px;
      border-bottom: rgba(128, 128, 128, 0.563) solid 1px;
      p {
        margin: auto 0;
        width: 20px;
        font-size: $heading3;
      }
      input {
        margin: auto 1%;
        border-bottom: none;
        width: 100%;
        color: white;
        border: none;
        background-color: rgba(36, 36, 36, 0);
        outline: none;
        font-size: $heading3;
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
    button {
      color: white;
      background-color: orangered;
      margin: auto 0;
      width: 50%;
      padding: 5px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 5px;
      font-size: $heading3;
    }
  }
  .err {
    color: red;
    width: 100%;
    text-align: center;
  }
}
